.about {
    padding-bottom: 48px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture {
    height: 150px;
    border-radius: 20%;
}

.about-info {
    font-size: 24px;
}

.info-name {
    color: rgb(240, 74, 14);
    font-size: 32px;
}

@media only screen and (max-width: 360px) {
    .about-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture {
        height: 120px;
    }
    .about-info {
        font-size: 20px;
    }
    .info-name {
        font-size: 24px;
    }
}